<%- include('navbartop'); -%>
<div class="w-full bg-stone-100 mt-14 h-full">
  <div class="w-full p-5 flex justify-around">
    <div
      class="bg-white py-3 px-4 rounded-md flex justify-center items-center w-fit gap-3"
    >
      <div
        class="rounded-full flex justify-center items-center bg-rose-400 w-12 h-12"
      >
        <i class="fa-solid fa-box text-white"></i>
      </div>
      <div class="text-center">
        <p class="text-gray-600 text-lg text">Total Sales</p>
        <span class="text-xl font-bold">2056</span>
      </div>
    </div>
    <div
      class="bg-white py-3 px-4 rounded-md flex justify-center items-center w-fit gap-3"
    >
      <div
        class="rounded-full flex justify-center items-center bg-amber-400 w-12 h-12"
      >
        <i class="fa-solid fa-money-bill-wave text-white"></i>
      </div>
      <div class="text-center">
        <p class="text-gray-600 text-lg text">Total Income</p>
        <span class="text-xl font-bold">Rs.1,41,000</span>
      </div>
    </div>
    <div
      class="bg-white py-3 px-4 rounded-md flex justify-center items-center w-fit gap-3"
    >
      <div
        class="rounded-full flex justify-center items-center bg-purple-400 w-12 h-12"
      >
        <i class="fa-solid fa-users text-white"></i>
      </div>
      <div class="text-center">
        <p class="text-gray-600 text-lg text">Total Visitor</p>
        <span class="text-xl font-bold">2100</span>
      </div>
    </div>
  </div>
  <div>
    <div></div>
    <div></div>
  </div>
</div>
<%- include('navbarbottom'); -%>
